.cred-experience{
    background-image:   url("https://web-images.credcdn.in/_next/assets/images/home-page/money-matters-bg.jpg");
      background-color:var(--bg-blue);
      /* color: white; */
  }
  
  @media all and (max-width:1279px) {
      .cred-experience{
          background-position: center bottom;
      }
  }
  
  @media all and (max-width:769px) {
      .cred-experience{
          background-image:url("https://web-images.credcdn.in/_next/assets/images/home-page/money-matters-bg.jpg");
          background-position:  center right;
          min-height: 1150px;
          background-size: contain;
      }
      .cred-experience-header{
          margin-top: 400px;
      }
      .cred-experience-description{
          margin-top: 100px;
        
      }
  }
  